.container {
    display: flex;
    flex-direction: column;
}

.container > * {
    width: 100%;
}
.radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}
  