<mat-expansion-panel style="margin-bottom: 25px;">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filter
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="container">
        <mat-form-field>
            <mat-select placeholder="City" formControlName="cityId">
                <mat-option [value]="null" selected="true">All</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Price less than" formControlName="priceLessThan">
        </mat-form-field>
        <mat-form-field>
            <div class="selected-value">On Sale:</div>
            <input matInput placeholder="Input" style="display: none">
            <mat-radio-group class="radio-group" formControlName="onSale">
                <mat-radio-button class="radio-button" [value]="null">All</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="true">Yes</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </form>
</mat-expansion-panel>