<mat-card class="example-card">
    <mat-card-title>{{house.title}}</mat-card-title>
    <img mat-card-image [src]="house.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            <strong>Price:</strong> {{house.price | currency}}
        </p>
        <p *ngIf="house.onSale">
            <strong>On Sale</strong>
        </p>
        <p>{{house.description}}</p>
    </mat-card-content>
</mat-card>